$size-0: 0;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;

$main-color: rgb(189, 108, 189);
$secondary-color: rgb(86, 81, 189);

$font-serif: Georgia, "Times New Roman", Times, serif;
$font-sans-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
